@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  /* colors */
  --body-bg: #090e17;
  --white: #fff;
  --card-bg: #d9d9d908;
  --text-color: #9ca3af;

  --padding: 2.5rem;
  --section-title-font-size: 2.3em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--body-bg);
  color: var(--white);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
  position: relative;
}

nav > .menu {
  display: none;
  list-style: none;
  -webkit-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -moz-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -ms-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -o-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
}

.menu.active {
  background-color: var(--body-bg);
  padding-top: 20em;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  align-items: center;
  gap: 22px;
  z-index: 999;
  backdrop-filter: blur(2px);
}

.menu.active a {
  font-size: 18px;
}

.menu a {
  color: var(--white);
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}

.menu a:hover {
  background: linear-gradient(
    90.72deg,
    rgba(107, 3, 184, 0.9) 21.79%,
    rgba(168, 24, 186, 0.9) 54.77%,
    rgba(226, 43, 187, 0.9) 85.69%
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

/* HAMBURGER ICON */
.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  z-index: 9999;
}

.hamburger input {
  display: flex;
  width: 60px;
  height: 60px;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide input */
  z-index: 1; /* top of the menu */
}

.hamburger span {
  background-color: var(--white);
  width: 40px;
  height: 3px;
  margin-bottom: 8px;
  display: block;
  border-radius: 4px;
  -webkit-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -moz-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -ms-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -o-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
}

#span1 {
  transform-origin: 4px 0px;
}

#span3 {
  transform-origin: bottom right;
}

.hamburger input:checked ~ span {
  background: linear-gradient(
    90.72deg,
    rgba(107, 3, 184, 0.9) 21.79%,
    rgba(168, 24, 186, 0.9) 54.77%,
    rgba(226, 43, 187, 0.9) 85.69%
  );
}

.hamburger input:checked ~ #span1 {
  transform: rotate(45deg) translate(8px);
}

.hamburger input:checked ~ #span2 {
  transform: rotate(495deg) translate(4px);
}

.hamburger input:checked ~ #span3 {
  transform: rotate(45deg);
  opacity: 0;
}

section {
  padding-inline: var(--padding);
  /* padding-block: 7em; */
  width: 100%;
}

/* HERO SECTION */
.hero-section {
  margin-top: 6.5em;
  position: relative;
  /* height: 1009px; */
  width: 100%;
  padding-inline: 0;
}

.hero-container {
  position: absolute;
  top: 0;
  display: grid;
  justify-content: center;
  gap: 1.4em;
  padding-inline: 2em;
}

.hero-bg {
  height: 700px;
  width: 100%;
  overflow-x: hidden;
  transform: perspective(300px) translate3d(0px, -66px, 48px)
    scale3d(0.86, 0.75, 1) translateY(480px);
}

.hero-img {
  width: 100%;
  /* height: 613px;  */
}

.hero-container .left-col {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.hero-container .hero-title {
  font-size: 2.5em;
  line-height: 50px;
}

.left-col p {
  color: #9ca3af;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.6px;
}

/* HERO BTN */
.hero-btn {
  background: linear-gradient(
    90.72deg,
    rgba(107, 3, 184, 0.9) 21.79%,
    rgba(168, 24, 186, 0.9) 54.77%,
    rgba(226, 43, 187, 0.9) 85.69%
  );
  border-radius: 40px;
  border: none;
  width: 285px;
}

.hero-btn a {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 13px;
  padding-block: 13px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

/* POWERING THE FUTURE OF SMART CONTRACTS */
.title {
  font-weight: 500;
  font-size: var(--section-title-font-size);
  line-height: 44px;
  text-align: center;
}

.powering-the-future {
  /* margin-top: -9em; */
  /* margin-bottom: 269px; */
  /* padding-top: 150px; */
  /* height: 1027px; */
  padding-bottom: 8rem;
  position: relative;
}

.powering-the-future .title {
  padding-top: 150px;
  padding-bottom: 124px;
  position: relative;
}

.powering-the-future > div {
  display: grid;
  place-content: center;
  gap: 20px;
}

.card {
  background-color: var(--card-bg);
  height: fit-content;
  padding: 32px;
}

.card p {
  line-height: 20px;
}

.powering-the-future .card {
  border: 0.5px solid #374151;
  border-radius: 8px;
  display: flex;
  gap: 14px;
  padding: 32px;
  max-width: 550px;
  height: 281px;
  flex-direction: column;
}

.powering-the-future .card h3 {
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -1px;
}

.card-number {
  color: var(--white);
  padding: 8px 24px;
  width: fit-content;
  background: rgba(69, 79, 218, 0.9);
  border-radius: 40px;
}

.powering-the-future .card-3 {
  border: 2px solid transparent;
  border-image: linear-gradient(80.6deg, #6b03b8 90%, #a818ba 90%, #e22bbb 90%)
    1;
  /* background: 
  linear-gradient(#d9d9d908, #000) padding-box,
  linear-gradient(80.6deg, #6b03b8 90%, #a818ba 90%, #e22bbb 90%) border-box; */

  border-radius: 8px;
}

.connector-line {
  display: none;
  position: absolute;
}

/* ---------------------------------------------------- */
/* OUR MISSION */
.our-mission {
  /* padding-inline: var(--padding); */
  /* margin-top: 9px; */
  height: 764px;
  text-align: center;
  position: relative;
  background: #101725;
  z-index: -1;
}

.our-mission .mission-bg {
  transform: perspective(300px) translate3d(0px, -66px, 96px)
    scale3d(0.86, 0.75, 1) translateY(170px);
  width: 100%;
}

.our-mission .container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  padding-top: 132px;
}

.our-mission p {
  margin-top: 21px;
  color: var(--text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
}

.our-mission .mission-asset {
  margin-top: 6.25em;
  width: 100%;
  margin-inline: auto;
}

#tokenomics {
  background: var(--body-bg);
  z-index: 99999;
  padding-block: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #1f2937;
}

#tokenomics .title {
  margin-bottom: 4rem;
}

#tokenomics > div {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  /* justify-content: center;
  align-items: center; */
  font-size: 18px;
  gap: 42px 20px;
}

#tokenomics .card .figure {
  color: var(--text-color);
}

#tokenomics .team-marketing-group,
#tokenomics .team-marketing-group section {
  display: flex;
  align-items: center;
}

#tokenomics .team-marketing-group {
  justify-content: center;
  gap: 24px;
}

#tokenomics .team-marketing-group section {
  --padding: 0;
  width: fit-content;
  gap: 16px;
}

#tokenomics .card {
  width: 100%;
  padding: 16px;
  text-align: center;
  border: 1.41148px dashed #454fda;
  border-radius: 14.1148px 14.11px 14.11px 14.1148px;
}

/* ------------------------------------------------------- */
/* OUR ROADMAP */
#roadmap {
  padding-block: 9.2rem 5.5rem;
  /* padding-block: 5em 3em; */
  background: linear-gradient(360deg, #0f1522 0%, rgba(16, 23, 37, 0) 88.29%);
  /* transform: matrix(1, 0, 0, -1, 0, 0); */
}

#roadmap .title {
  margin-bottom: 2em;
}

#roadmap > div {
  display: grid;
  gap: 20px;
  font-size: 16px;
}

#roadmap .phase-no {
  border: 3px solid #454fda;
  /* padding: 14px 10px; */
  width: 63px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 400;
  font-size: 30.5455px;
  line-height: 38px;
  margin-bottom: 61px;
}

#roadmap .card h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 64px;
}

#roadmap li {
  margin-left: 21px;
  line-height: 26px;
  color: var(--text-color);
}

#roadmap p {
  margin-top: 2.5rem;
  color: var(--text-color);
}

/* ------------------------------------------------------ */
#how-to-buy {
  padding-block: 4rem;
}

#how-to-buy .title {
  margin-bottom: 42px;
}

#how-to-buy > div {
  display: grid;
  gap: 20px;
}

#how-to-buy .card {
  border: 1px solid #1f2937;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#how-to-buy .card .step-tag {
  color: #a2a8fc;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

#how-to-buy .card h1 {
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
}

#how-to-buy .card p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
}

.contract-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  padding-bottom: 90px;
  border-bottom: 1px solid #1f2937;
}

.contract-address h1 {
  word-break: break-all;
  text-align: center;
  font-weight: 400;
  font-size: 2em;
  line-height: 34px;
}

.contract-address button {
  cursor: pointer;
  border: none;
  background: linear-gradient(
    90.72deg,
    rgba(107, 3, 184, 0.9) 21.79%,
    rgba(168, 24, 186, 0.9) 54.77%,
    rgba(226, 43, 187, 0.9) 85.69%
  );
  border-radius: 40px;
  padding: 18px 31px;
  color: var(--white);
  font-weight: 500;
  font-size: 1.125em;
  line-height: 25px;
}

/* ------------------------------------------------------- */
footer {
  padding-block: 146px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 42px;
}

.footer-logo {
  width: 170px;
  margin-inline: auto;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  list-style: none;
}

footer a {
  color: var(--white);
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #f9fafb;
}

.social-media-links{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  margin-top: 91px;
}

.social-media-links img{
  width: 24px;
}

/* ------------------------------------------------------- */
/* TABLET SCREEN SIZES */

@media screen and (min-width: 768px) {
  header {
    --padding: 2.5rem 4rem;
  }

  section {
    --padding: 4rem;
    /* padding-block: 9.375em; */
  }

  .hero-section {
    /* height: 900px; */
    margin-block: 6.5em 0;
    padding-inline: 2rem;
  }

  .hero-container .hero-title {
    font-size: 3.5em !important;
    line-height: 80px !important;
  }

  .hero-bg {
    height: 552px !important;
    transform: perspective(1000px) translate3d(0px, -33px, 358px) rotateX(40deg)
      scale3d(0.86, 0.75, 1) translateY(290px) !important;
  }

  .hero-img {
    width: 542px;
  }

  /* section titles */
  .title {
    --section-title-font-size: 3.25em;
    line-height: 64px;
    padding-inline: var(--padding);
  }

  .powering-the-future {
    height: 1027px;
  }

  .powering-the-future > div {
    grid-template-columns: repeat(2, 1fr);
  }

  .powering-the-future .card {
    height: unset;
  }

  /* OUR MISSION */

  .our-mission .mission-bg {
    transform: perspective(300px) translate3d(0px, -66px, 128px)
      scale3d(0.86, 0.75, 1) translateY(170px);
    width: 100%;
  }

  #tokenomics,
  #roadmap,
  #how-to-buy {
    padding-block: 150px 92px;
  }

  #tokenomics > div {
    grid-template-columns: repeat(2, 1fr);
  }

  #tokenomics .card {
    padding: 32px;
  }

  #roadmap .title {
    margin-bottom: 5.625rem;
  }

  /* --------------------------------------------------------- */
  /* HOW TO BUY */
  /* #how-to-buy {
    padding-block: 9.375rem 4.5rem;
  } */

  #how-to-buy .card {
    padding-block: 75px;
  }
}

@media screen and (min-width: 1000px) {
  header {
    --padding: 2.5rem 6.25rem;
  }

  nav > .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    list-style: none;
  }

  .menu.active {
    /* background-color: var(--body-bg); */
    padding-top: 0;
    position: unset;
    width: 100%;
    height: unset;
    display: flex;
    flex-direction: row;
  }

  .hamburger {
    display: none;
  }

  .hero-section {
    padding-bottom: 12rem;
  }

  .hero-container {
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    padding-inline: 6.6em;
  }

  .hero-bg {
    height: 552px !important;
    transform: perspective(1000px) translate3d(0px, -33px, 258px) rotateX(40deg)
      scale3d(0.86, 0.75, 1) translateY(190px) !important;
  }

  .hero-img {
    width: 682px;
    height: 613px;
  }

  .hero-container .hero-title {
    font-size: 4.7em !important;
    line-height: 80px !important;
  }

  .powering-the-future > div {
    grid-template-columns: repeat(4, 1fr);
    padding-inline: 6.25em;
  }

  .powering-the-future .title {
    width: 626px;
    margin-inline: auto;
  }

  .powering-the-future .card {
    height: fit-content;
    width: 313px;
  }

  .powering-the-future .card h3 {
    line-height: 64px;
  }

  .powering-the-future .card-3 h3 {
    line-height: 32px;
  }

  .powering-the-future .card-1 {
    height: 353px;
    justify-content: flex-end;
  }

  .powering-the-future .card-2,
  .powering-the-future .card-4 {
    place-self: end;
  }

  /* ---------------------------------------------------------- */
  /* OUR MISSION */

  .our-mission .mission-bg {
    transform: perspective(300px) translate3d(0px, -66px, 65px)
      scale3d(0.86, 0.75, 1) translateY(170px);
    width: 100%;
  }

  .our-mission .container {
    width: 946px;
    height: 764px;
    /* z-index: -1; */
  }

  .our-mission .mission-asset {
    width: 946px;
  }

  /* OUR ROADMAP */

  #roadmap > div {
    grid-template-columns: repeat(3, 1fr);
  }

  #roadmap .card {
    height: 515px;
  }

  /* HOW TO BUY */
  #how-to-buy {
    --padding: 0;
  }

  #how-to-buy > div {
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }

  #how-to-buy .card {
    height: 512px;
  }

  #how-to-buy .card.step-one {
    padding-left: 100px;
  }

  #how-to-buy .card.step-two {
    padding-left: 80px;
  }

  #how-to-buy .card.step-three {
    /* padding-right: 100px; */
    padding-left: 80px;
  }
}

@media screen and (min-width: 1300px) {
  .connector-line {
    display: unset;
    position: absolute;
  }

  #connector-line-1 {
    left: 192.5px;
    top: 757px;
  }

  #connector-line-2 {
    top: 346px;
    left: 525.5px;
  }
  #connector-line-3 {
    left: 858.5px;
    /* top: 687px; */
    top: 703px;
    /* left: 922.5px;
    top: 687px; */
  }

  #how-to-buy .card {
    height: 427px;
  }

  #how-to-buy .card.step-one {
    padding-left: 153px;
  }

  #how-to-buy .card.step-two {
    padding-left: 105px;
  }

  #how-to-buy .card.step-three {
    padding-right: 154px;
  }
}
